services:
    tokenAssertion: App\Model\Authorization\TokenAssertion
    gossipPoolAssertion: App\Model\Authorization\GossipPoolAssertion

    acl:
        class: Nette\Security\Permission
        setup:
            #Roles
            - addRole(guest)
            - addRole(authenticated, guest)
            - addRole(org, authenticated)
            - addRole(admin, org)

            #Resources
            - addResource(gossip) #displayForm, add, edit, approve, show
            - addResource(person) #add, edit, editMyself
            - addResource(stats) #show
            - addResource(trial)
            - addResource(feedback)
            - addResource(audio) #add, delete, list, play, stop, addCron, listCron, playMic, stopMic
            - addResource(teamPoints) #add, delete, listChanges, show

            #ACL
            #- allow(guest, gossip, displayForm)
            #- allow(guest, gossip, add, [@tokenAssertion, 'isCooledDown'])
            #- allow(guest, gossip, add)
            #- allow(authenticated, person, editMyself)
            #- allow(authenticated, gossip, displayForm)
            #- allow(authenticated, gossip, add, [@gossipPoolAssertion, 'canAdd'])
            - allow(authenticated, gossip, add)

            #- allow(guest, feedback, displayForm)
            #- allow(guest, feedback, add)

            - allow(org, gossip)
            #- allow(org, feedback)
            #- allow(org, trial)
            #- allow(org, audio)
            - allow(org, person, editMyself)
            - allow(org, teamPoints)
            - allow(admin, Nette\Security\Permission::ALL)