parameters:
    audio:
        basePath: %appDir%/../audio
        cronFileName: /tmp/crontabs-fks-audio

database:
	dsn: 'mysql:host=localhost;dbname=drbnik2'
	user:
	password:
	options:
		lazy: yes
