parameters:
    audio:
        audioDir: %appDir%/../audio
        cronFileName: /tmp/crontabs-fks-audio
        announceScript: %appDir%/../bin/announce.sh
    auth:
        tokenAuth:
            token: 
            role: org
            user: fksis

database:
	dsn: 'mysql:host=localhost;dbname=drbnik2'
	user:
	password:
	options:
		lazy: yes
