

@background_color: #ffffff;
@font_color: #202020;
@font_color_hover: #404040;
@background_image: none;//url(../images/korporace_logo.png);


/*

@background_color :#000000 ;

@font_color : #ff00aa;
@font_color_hover: #ff33cc;
*/